@import '../node_modules/bootstrap/scss/bootstrap';

@import 'variables';
@import 'base';
@import 'sections';
@import 'components';
@import 'layout';
@import 'variables';

body,
html,
#main-container {
  height: 100%;
}

.wc-purple-light {
  color: $wc-purple-light;
}

.wc-purple-white {
  color: $wc-purple-white;
}

a:link,
a:visited {
  //color: $wc-purple;
}
