.contact {
  form {
    input,
    textarea {
      border: 2px solid $wc-purple;
      
      &:focus {
        outline: none;
      }
    }
    
    [type='submit'] {
      background-color: #fff;
    }
  }
}
