header,
#header {
  justify-content: center;
  left: 0;
  margin: auto;
  min-height: 100%;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;

  $aniSpeed: .5s;
  .inner-wrapper {
    @include transition(all $aniSpeed ease);
    left: 0;
    position: absolute;
    margin: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .section-info {
    @include transition(all $aniSpeed ease);
    transition-delay: $aniSpeed;
    display: none;
  }

  .logo {
    @include transition(all $aniSpeed ease);
    margin: 0 auto 1em;
    max-width: 100%;

    img {
      width: 100%;
      max-width: 150px;
    }
  }

  .dotted-line {
    margin-bottom: 1em;

    span {
      border-left: 3px dashed $wc-purple;
      display: inline-block;
      height: 70px;
      margin: 0 auto;
    }
  }

  &.sticky {
    .inner-wrapper {
      background: $white;
      top: 0;
      transform: translateY(0);

      .logo {
        margin: 2em auto .5em;
        max-width: 60px;
      }
    }
  }

  .webcrateTitle {
    font-weight: bold;
    color: $wc-purple;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: $font-size-title;

    .unset-bold {
      font-weight: normal;
    }
  }
}

#main {
  pointer-events: none;
}
