#navigation {
  background-color: $white;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  ul {
    display: flex;
    list-style: none;

    li {
      &:not(:last-child) {
        margin-right: 2em;
      }

      a:link,
      a:visited {
        color: $body-font-color;
        display: inline-block;
        font-size: 1.5rem;
        padding-bottom: 1.5em;
        position: relative;
        text-decoration: none;
        white-space: nowrap;

        .deco {
          color: transparent;
        }

        $spacing: .5em;
        .deco-left {
          margin-right: $spacing;
        }

        .deco-right {
          margin-left: $spacing;
        }

        &:hover,
        &.active {
          color: $wc-purple-light;

          .deco {
            color: $wc-purple-light;
          }
        }

        &.active {
          &::after {
            background: $wc-purple-light;
            bottom: 0;
            content: '';
            display: inline-block;
            height: 30px;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            width: 1px;
          }
        }
      }
    }
  }
}
