@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-RegularIt.eot');
  src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-SemiboldIt.eot');
  src: url('../fonts/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-SemiboldIt.woff') format('woff'),
  url('../fonts/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

$primary-font: 'Proxima Nova', sans-serif;
$font-awesome: 'FontAwesome';
$font-size-normal: 18px;
$font-size-title: 2.5em;
$font-size-sub-title: 2em;
$font-size-large: 1.5em;
$font-size-bold: 1.2em;
$bold-weight: 700;

body {
  color: $body-font-color;
  font-family: $primary-font;
  font-size: $font-size-normal;
  font-weight: 100;
}

h1,
h2,
h3,
h4 {
  color: $wc-purple;
  font-family: $primary-font;
}

h1 {
  font-size: $font-size-title;
}

h2 {
  font-size: $font-size-sub-title;
}

h3 {
  font-size: $font-size-large;
}

h4 {
  font-size: $font-size-bold;
}
